{{!-- this is what the user will see and interact with --}}
<h1>BURGERS!</h1>

<h3>All the burgers!</h3>

<ul>
  {{!-- this is a forloop,  --}}
    {{#each burgers}}
      <li>
        <span>{{this.id}}
        {{this.burger_name}}</span>
      </li>
    {{/each}}
</ul>

<div class="pictures">
    <img src="../public/assets/img/94767513-seamless-pattern-of-burgers-background-for-fast-food-packing-poster-isometry-illustration-eps.jpg" alt="burger background">
</div>

<h3>Burgers Galore</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burgerX">Wanna Add A Burger?</label><br>
    <input type="text" id="burgerY" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Have you tried it?</label><br>
    <input type="radio" name="devour" value="1"> YES!<br>
    <input type="radio" name="devour" value="0"> NO!
  </div>

  <button class="newBurgerBtn" type="submit">Add New Burger</button>
</form>