body {
    background: orange;
    text-align: center;
    background-image: url("/assets/img/burgerbackground.jpg");
}

h1 {
    color:brown;
}

.newBurgerBtn {
    background-color: antiquewhite;
}

li {
    color: greenyellow;
}